<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">    
    <title>About | A-Guzzardo</title>
    <link rel = "stylesheet" href = "/static/style.css">
    <script src = "/scripts/j.js"></script>
</head>
<body>
    
    {{ navbar_html | safe }}

    <div class ="big__container">
        <div class = "about__me">
            <div class = "bio">
                I am a Computer Science graduate from DePaul University, where I specialized in software
                development. I have honed my skills in a variety of programming languages including Python, C, Java, HTML,
                Rust, and Scala. My university education equipped me with a solid grounding in data structures and
                algorithms, which I am now eager to leverage in real-world applications. One of my notable projects
                involved full-stack development where I created a prototype web application for notetaking, specifically for
                studying Japanese. This not only reinforced my technical skills but also underscored my passion for learning
                languages. Beyond the realm of coding, I have a strong interest in spoken languages. Starting in high school,
                I became conversationally fluent in Spanish, and I've maintained this linguistic capability
            </div>
        </div>
    </div>


</body>
</html>