<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">    
    <title>Home | A-Guzzardo</title>
    <link rel = "stylesheet" href = "/static/style.css">
    <script src = "/scripts/j.js"></script>
</head>
<body>

    {{ navbar_html | safe }}

    <div class = "big__container">
        <div class = "home__div">
            <img id = "sitting__rock" src = "/images/sittingrock.jpg" alt = "note-app">
        </div>
    
        <div class = "aboutme__div">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anthony earned a Bachelors of Science from DePaul University - studying
            Computer Science & Software Development. He has project experience in web application development on multiple frameworks 
            including Flask and Rocket. He's committed to an independent development of skills necessary to create object-oriented sound programs 
            with user friendly experiences. Anthony is searching for rolls where he can learn and grow under mentorship as a beginning developer. 
            Some of his projects include Health Care DB Management called "Jeffsite" which he began in September 2022. The project focuses on simplifying balance sheet management for healthcare providers, 
            featuring a user-friendly interface and an integrated feedback system to monitor changes efficiently. https://github.com/aguzzar2/Python.Projects. He's passionate about learning spoken languages, and
            in November of 2022 began working on a Flash Cards webapp where users could create and evaluate collections of digital flashcards across diverse topics, benefiting from a streamlined management system and 
            optimized storage, made possible by Rust’s memory efficiency. https://github.com/aguzzar2/Python.Projects. He resides in Chicago and works part time assisting a senior resident at Artis Assisted Living Facility.
            He supports the resident with mobility within her room and accompanies her on daily neighborhood walks fostering a mutual respect and a pleasant rapport.
        <div class = "resume-link">
            <form id='resume-form' method='post' action='/resume'>
                <button class='resume__links-button' type='submit'>Resume</button>
            </form>
        </div>
        <div class = "external-links">
            <form action='https://github.com/aguzzar2'>
                <button class='homepage__button' type='submit'>
                    <img id = 'link__icons' src = '/images/github-logo.png' alt = 'linkedin'>
                </button>
                
            </form>
            <form action='https://www.linkedin.com/in/anthony-guzzardo-648b7116a/'>
                <button class='homepage__button' type='submit'>
                    <img id = 'link__icons' src = '/images/linkedin-logo.png' alt = 'linkedin'>
                </button>
            </form>
        </div>
        

</body>
</html>