<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">    
    <title>Anthony's Homepage</title>
    <link rel = "stylesheet" href = "/static/style.css">
    <script src = "/scripts/j.js"></script>
</head>
<body>

    {{ navbar_html | safe }}

    <div class = "big__container">
        <div class = "home__div">
            <img id = "sitting__rock" src = "/images/sittingrock.jpg" alt = "note-app">
        </div>
    
        <div class = "aboutme__div">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;After obtaining my Bachelors of Science from DePaul University - studying
            Computer Science & Software Development - I split the summer working independently on full-stack
            development projects and assisting at a nursing facility. This is an informative website of my experience, 
            educational background, and development work. The API is written in Rust and is currently running on Google Cloud.</p>
        </div>

</body>
</html>