* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: VogueAvantGarde, helvetica, sans-serif;
    font-feature-settings: normal;
    font-style: normal;
    letter-spacing: 0.127811em;
}
html{
    overflow-y: scroll;
}

.ox{
    height: auto;
    width: 100%;
    background: blue;
}
.navbar-container {
    display: grid;
    place-items: center;
    height: auto;
    width: 100%;
}


.top-navbar{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    place-items: center;
    width: 100%;
    height: auto;
    justify-content: center;
    font-size: 200%;
    display: flex;
    background-color: #ffffff;
    
}
.bottom-navbar {
    width: 100%;
    height: 65px;
    font-size: 75%;
    background: rgb(247, 255, 255);
    display: flex;
    justify-content: center; 
    align-items: center; 
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: bold;
    text-transform: uppercase;

}

/* HOMEPAGE ---- BUTTTTON */
/* .homepage__button.active {
    margin: 10px;
    font-size: 200%;
    padding: 10px 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
} */

/* .homepage__button.active::before {
    opacity: 0;
    height: 0;
}

.homepage__button.active::after {
    opacity: 0;
    width: 0;
} */


.homepage__button {
    /* Other button styles */
    margin: 10px;
    padding: 10px;
    font-size: 150%;
    background-color: white;
    color: black;
    border: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
}

.homepage__button::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    height: 0;
    border-left: 3px solid black;
    border-right:3px solid black;
    opacity: 0;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.homepage__button::after {
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    width: 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    opacity: 0;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.homepage__button:hover::after {

    opacity: 1;
    width: 100%;
}
.homepage__button:hover::before {

    opacity: 1;
    height: 100%;
}


/* .homepage__button:not(.active):hover::after {
    opacity: 1;
    width: 100%;
}
.homepage__button:not(.active):hover::before {
    opacity: 1;
    height: 100%;
} */




.nav__links-button.active {
    font-size: 200%;
    margin: 10px 10px;
    padding: 4px 10px;
    background-color: transparent;
    border-bottom: 3px solid black;
    
}
.nav__links-button.active::before {
    opacity: 0;
    width: 0;
}

.nav__links-button {
    /* Other button styles */
    font-size: 200%;
    margin: 10px 10px;
    padding: 4px 10px;
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden; /* Hide overflowing content (outline) */
    text-transform: uppercase;
}

.nav__links-button::before {
    content: "";
    position: absolute;
    background-color: transparent;
    color: black;

    font-size: 200%;
    bottom:0;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 3px solid black;
    opacity: 0;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.nav__links-button:not(.active):hover::before {
    opacity: 1;
    width: 100%;
}


.resume-link{
    background:black;
    border-radius: 60px;
    padding: 10px;
    font: 200%;
    margin-bottom: 25px;
}
.resume__links-button {
    /* Other button styles */
    font-size: 150%;
    margin: 5px 5px;
    padding: 4px 10px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden; /* Hide overflowing content (outline) */
    text-transform: uppercase;
}

.resume__links-button::before {
    content: "";
    position: absolute;
    bottom:0;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 3px solid white;
    opacity: 0;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


.resume__links-button:not(.active):hover::before {
    opacity: 1;
    width: 100%;
}

.external-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

#link__icons{
    margin: 10px 10px;
    height: 50px;
    width: auto;
}


/* .resume{
    font-size: 40px;
    margin: 0 auto;
    padding: 10px;
} */


/* td{
    padding: 10px;
    background-color: white;
}
th{
    font-size: 40px;
    color: white;
}

.school__work{
    font-size: 35px;
    width: auto;
    padding: 20px;
}

.extra__info{
    font-size: 30px;
}

.date{
    font-size: 35px;
    display: flex;
    justify-content: center;
    width: auto;
} */

/* .resume__work {
    background-color: rgb(130, 129, 204);
    padding: 10px;
    width:60%;
    margin: 0 auto;

}


.resume__education{
    background-color: rgb(30, 150, 255);
    padding: 10px;
    width:60%;
    margin: 0 auto;
} */

#note__image img{
    width: 100%;
    height: auto;
    display: block;
    /* margin: 0 auto; */
}

.big__container{
    display: grid;
    place-items: center;
}

.aboutme__div {
    /* background-color: rgb(252, 255, 252); */
    background-color: white;
    width: 50%;
    font-size: 200%;
    margin: 20px;
  }

.home__div {
    background-color: #000;
    padding: 3px;
    width: 30%;
    height: auto;
    margin: 15px;
}

#sitting__rock {
    width: 100%;
    height: auto;
    display: block;
}
#noteapp__photo {
    width: 100%;
    height: auto;
    display: block;
    
}

#pichart__photo {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0;
    transition: opacity 1.5s ease-in;
}


.coding__skills{
    background: #EBF1DE;
    height: auto;
    width: 100%;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coding__skills-info{
    margin: 20px 40px;
    padding: 10px;
    border: 15px solid #595959;
    border-radius: 10px; 
    place-items: center;
    height: auto;
    width: 50%;
}

.coding__skills-photo{
    margin: 20px 40px;
    place-items: center;
    height: auto;
    width: 40%;
}
.cs-red{
    color: #C0504D;
}

.work__bottom__border-container{
    background-color: #F8F7F2;
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}

.work__container{
    background: transparent;
    height: auto;
    width: 100%;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.work__education__border-bottom{
    margin-bottom: 40px;
    height: 15px;
    width: 80%;
    background: #595959;
}

.work__info{
    place-items: center;
    height: auto;
    width: 50%;
}

.info-date{
    margin: 20px 40px;
    padding: 10px;
    border-radius: 10px; 
    height: auto;
    width: 100%;
    place-items: center;
}

.info-date p{
    font-size: 80%;
    padding: 50px;
}
.ij__border-top{
    margin-top: 20px;
    height: 15px;
    width: 100%;
    background: #595959;
}
.info-jobwork{
    margin: 20px 40px;
    padding: 10px;
    border-radius: 10px; 
    height: auto;
    width: 60%;
    place-items: center;
}
.info-jobwork p{
    font-size:80%;
    margin: 10px 30px;
    padding-top: 40px;
}

.education__bottom__border-container{
    background-color: #EBF1DE;
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}

.education__container{
    background: transparent;
    place-items: center;
    height: auto;
    width: 100%;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title{
    font-weight: bold;
    font-size: 100%;
    margin-top: 50px;
}
.title__date{
    margin: 20px 40px;
    width: 40%;
    height: auto;
    place-items: center;
}

