<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">    
    <title>Anthony's Resume</title>
    <link rel = "stylesheet" href = "/static/style.css">
</head>
<body>

    <!-- FIX TO BLOCK HMTL-->
    <div class = "title">
        <form id = "title" method = "post" action = "/index">
            <button class ="title" type = "submit" href="">
                Anthony Guzzardo
            </button>
        </form>
    </div>
    
    <nav class = "buttons">
        <form id = "app-form" method = "post" action = "/webapp">
            <button class = "nav__links" type = "submit" href="">Web Apps</a>
        </form>
        <form id = "resume-form" method = "post" action = "/resume">
            <button class = "nav__links" type="submit" href="">Resume</button>
        </form>
        <form id = "about-form" method = "post" action = "/about">
            <button class = "nav__links" type = "submit" href = "">About Me</button>
        </form>

    </nav>

    <div class = "resume">
        <table class = "resume__education">
            <tr>
                <th>Education</th>
            </tr>
            <tr>
                <td class = "school__work">
                    DePaul University 
                <p><img class = "images" src="/images/blueDemon_logo.png" alt="depaul logo"></p>

                <p class = "extra__info">Bachelors: Computer Science, Software Development</p></td>
                <td class = "date">Aug 2021 - June 2023

                </td>

            </tr>
                
            <tr>
                <tr>
                    <td class = "school__work">
                        Indiana University
                    <p><img class = "images" src="/images/iu_logo.png" alt="indiana logo"></p>
                    
                    <p class = "extra__info">Cinema Arts & Design, Narrative Filmmaking</p></td>
                    <td class = "date">Aug 2017 - Oct 2020</td>
            </tr>
        </table>
    </div>
    <div class = "resume">
        <table class = resume__work>
            <tr>
                <th>Work History</th>
            </tr>
            <tr>
                <td class = "school__work">Frances Deli and Brunchery
                    <p class = "extra__info">Food Runner</p>
                </td>
                <td class = "date">June 2021 - Jan 2022</td>
            </tr>
            <tr>
                <td class = "school__work">Jewel Osco
                    <p class = "extra__info">Produce Clerk</p>
                </td>
                <td class = "date">Dec 2020 - June 2021</td>
            </tr>

        </table>
    </div>
</body>
</html>